<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<link th:href="@{/css/tooplate_style.css}" rel="stylesheet"
	href="../../css/tooplate_style.css" />
</head>
<body>
	<div th:fragment="footer">
		<div id="tooplate_footer_wrapper">
			<div id="tooplate_footer">
				Copyright © Michał Hejza <a href="http://ekostandard.eu/">Ekostandard</a>
			</div>
			<!-- end of tooplate_footer -->
		</div>
	</div>
</body>
</html>