<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Business Theme - About Our Company</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<!-- Template 2033 Business http://www.tooplate.com/view/2033-business -->
	<link th:href="@{/css/tooplate_style.css}" rel="stylesheet" href="../../css/tooplate_style.css" />
	<link th:href="@{/css/style.css}" rel="stylesheet" href="../../css/style.css" />
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<link rel="stylesheet" href="http://leaflet.github.io/Leaflet.draw/leaflet.draw.css" />
	<script src="http://leaflet.github.io/Leaflet.draw/leaflet.draw.js"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />

</head>

<body>

	<div th:replace="page/fragments/header :: header" />
	
	<div id="tooplate_main">
		<div id="tooplate_content">

		<p th:if="${errorMsg != null}" th:text="${errorMsg}" class="error">Error msg</p>


		</div>

		<div th:replace="page/fragments/leftsidebar :: leftsidebar" />
		<div class="cleaner"></div>
	</div>
	<div class="cleaner"></div>
	<div th:replace="page/fragments/footer :: footer">Footer 2016</div>
</body>
</html>
